html ,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* background-color:red; */
    background: url(/assets/images/login_bg.jpg) no-repeat center;
    background-size: cover;
}
#head{
    padding-top: 20px;
}
.loginAndRegBox {
    width: 400px;
    height: 310px;
    background-color:#fff;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
}
.title-box {
    height: 60px;
    background:url(/assets/images/login_title.png) no-repeat center;
}
.reg-box {
    display: none;
}
.layui-form {
    padding: 0 50px;
}
.layui-form-item {
    position: relative;
}
.layui-form-item i {
    position: absolute;
    top: 10px;
    left: 10px;
}
.layui-input {
    padding-left: 40px;
}
.layui-input:hover {
    border: 1px solid rgb(16, 185, 185) !important;
}

